<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Cream Order Form</title>
    <link rel="icon" href="images/ice-cream-favicon.jpg">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <main>
    <h1>Ice Cream Order Form</h1>
    <form id="ice-cream-form" action="#" method="get">
    <fieldset>
        <legend id="personal-information">Personal Information</legend>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        
    </fieldset>

    <fieldset>
        <legend id="order-details">Order Details</legend>
            <label for="flavor">Choose Your Flavor:</label>
            <select name="flavor" id="flavor">
                <option value="vanilla">Vanilla</option>
                <option value="chocolate">Chocolate</option>
                <option value="Strawberry">Strawberry</option>
            </select>

            <div id="cone-legend">Choose Your Cone:</div>
            <label for="waffle-cone">
            <input type="radio" id="waffle-cone" value="waffle cone" name="method">Waffle Cone</label>
            <label for="sugar-cone">
            <input type="radio" id="sugar-cone" value="sugar cone" name="method">Sugar Cone</label>
            <label for="cup">
            <input type="radio" id="cup" value="cup" name="method">Cup</label>
            
            <div id="toppings-legend">Toppings:</div>
            <label for="sprinkles">
            <input type="checkbox" id="sprinkles" value="Sprinkles" name="topping[]">Sprinkles</label>
            <label for="nuts">
            <input type="checkbox" id="nuts" value="Nuts" name="topping[]">Nuts</label>
            <label for="cherry">
            <input type="checkbox" id="cherry" value="cherry" name="topping[]">Cherry</label>
            <label for="whipped-cream">
            <input type="checkbox" id="whipped-cream" value="Whipped Cream" name="topping[]">Whipped Cream</label>

            <div id="comment-legend">Additional comments:</div>
            <textarea rows="5" id="comment" name="comment"></textarea>

    </fieldset>

    <!--Submit button-->
    <button type="Submit" id="order-button">Submit Order</button>

    <img src="images/form-image.jpg" alt="ice-cream-photo">

    </form>
    </main>
</body>
</html>